.tab2-content{
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-group-heading{
    padding-bottom: .5rem;
    border-bottom: 2px solid white;
    color: white;
    text-align: center;
    font-size: 2rem;
}
.menu{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    padding: .75rem .5rem; 
}
.menu-item-title{
    padding-bottom:.5rem;
}
.menu-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    color: white;
    border: solid 4px white;
}
.menu-item-text{
    margin-right: 3rem;
}